.App {
  text-align: center;
}

.menu {
  width: 100%;
  height: 3em;
  line-height: 3em;
  background: #282c34;
  text-align: left;
  display: flexbox;
  position: sticky;
  top: 0px;
}

.menu-btn {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.menu-btn:hover {
  transition: 200ms;
  color: #61dafb;
}

.menu-btn:active {
  color: #282c34;
}

.icon-btn {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
  top: 15%;
  position: relative;
}

.icon-btn:hover, #home-btn:hover {
  transition: 200ms;
  color: #61dafb;
}

.icon-btn:active, #home-btn:active {
  color: #282c34;
}

/* .section {
  height: 100vh;
} */
.MuiPaper-root {
  width: 75%;
  margin-bottom: 1rem;
}

.profile-avatar {
  display: block;
  height: 300px !important;
  width: 300px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
}

/* .project-photo {
  width: 50%;
  text-align: right;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
} */

/* .projects-section {
  overflow: auto;
  margin-bottom: 1em;
} */

#right-menu {
  float: right;
  font-size: small;
  height: inherit;
  line-height: inherit;
}

.MuiTypography-body1 {
  width: 70%;
}

#home-btn {
  color: lightblue;
}

img {
  width: max-content;
}