.App {
  text-align: center;
}

.menu {
  width: 100%;
  height: 3em;
  line-height: 3em;
  background: #282c34;
  text-align: left;
  display: flexbox;
  position: sticky;
  top: 0px;
}

.menu-btn {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.menu-btn:hover {
  transition: 200ms;
  color: #61dafb;
}

.menu-btn:active {
  color: #282c34;
}

#right-menu {
  float: right;
  font-size: small;
  height: inherit;
  line-height: inherit;
}

#content {
  width: 70%;
  display: inline-block;
}